* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.App {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgb(29, 23, 29);
  background-image: url("./images/bg-stars.svg");
  color: var(--white-text);
  letter-spacing: 0.1rem;
}




.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex.column {
  flex-direction: column;
}

.flex.row {
  flex-direction: row;
}



/*#region input bars, labels and buttons*/
.input-label-pair {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  position: relative;
}

input {
  background-color: var(--light-desaturated-blue);
  color: var(--white-text);
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  width: 300px;
  padding: 10px 18px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

input.rounded {
  border-radius: 20px;
}

input:hover {
  background-color: var(--dark-desaturated-blue);
}

input:focus {
  outline: solid 1px var(--soft-red);
  background-color: var(--dark-desaturated-blue);
}

label {
  color: var(--soft-red);
  letter-spacing: 0.4rem;
  font-size: 0.7rem;
  font-weight: bold;
  margin-left: 18px;
  margin-bottom: 4px;
}

button {
  border: none;
  background-color: transparent;
  width: 200px;
  height: 50px;
  border-radius: 8px;
  color: var(--white-text);
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.4rem;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
  margin: 15px;
}

button:hover {
  cursor: pointer;
}



button.primary {
  background-color: var(--soft-red);
}
button.primary:hover {
  background-color: hsl(345, 88%, 61%);
}

button.secondary {
  border: solid 3px var(--soft-red);
  color: var(--soft-red);
}
button.secondary:hover {
  background-color: rgb(37, 28, 44);

}

/*#endregion input bars and labels*/


/*#region sign out button*/
.signOut {
  position: absolute;
  top: 50px;
  right: 50px;
  text-align: right;
}

.signOut .username {
  font-size: 1rem;
  margin-bottom: 3px;
}

.signOut .btn {
  color: var(--grayish-blue);
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
}

.signOut .btn:hover {
  cursor: pointer;
  color: var(--soft-red);
}
/*#endregion sign out button*/


/*#region error messages*/
.error-message {
  width: 300px;
  font-size: 0.8rem;
  color: white;
  margin-top: 5px;
  position: absolute;
  bottom: -20px;
}
/*end#region error messages*/





/*#region Mobile page layout*/
@media screen and (max-width: 800px) {
  aside.open {
    width: 100vw;
  }

  aside .content {
    min-width: 100vw;
  }

  main .content {
    min-width: 100vw;
  }

  main.open {
    width: 0vw;
  }
}
/*#endregion*/