.clock-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock-section {
  margin: 0 20px;
  text-align: center;
}

.clock-card {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  background-color: rgb(44, 45, 68);
  color: rgb(213, 79, 112);
  border-radius: 5px;
  font-size: 6rem;
  line-height: 150px;
  margin-bottom: 20px;
}

.clock-label {
  color: rgb(127, 129, 164);
  letter-spacing: 0.2rem;
}

.semi-circle {
  width: 16px;
  height: 16px;
  background-color: black;
  border-radius: 8px;
  position: absolute;
  top: 67px;
  z-index: 2;
}
.semi-circle.left {
  left: -8px;
}
.semi-circle.right {
  right: -8px;
}

.centre-line {
  width: 150px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 74px;
  left: 0;
  z-index: 1;
}



