/*Temporary buttons to change sidebar view*/
.sidebar-btns {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.sidebar-btns button {
  background: red;
  color: white;
  margin: 0 5px;
  padding: 2px;
  font-size: 0.8rem;
  width: 80px;
  height: 40px;
  letter-spacing: 0;
}



aside {
  width: 0vw;
  height: 100vh;
  padding-top: 100px;
  background-color: rgb(47, 36, 57);
  position: relative;
  transition: 0.8s;
  overflow-x: hidden;
  z-index: 1;
}

aside.open {
  width: 35vw;
}

aside .content {
  min-width: 35vw;
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside h2 {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 30px;
}

/* #region open and close sidebar buttons */
.open-close-btn {
  width: 50px;
  height: 50px;
  top: 15px;
}
.open-close-btn:hover {
  cursor: pointer;
}

#close-sidebar-btn {
  position: absolute;
  right: 15px;
}
#close-sidebar-btn:hover {
  right: 20px;
}

#open-sidebar-btn {
  position: fixed;
  left: 15px;
}
#open-sidebar-btn:hover {
  left: 20px;
}
/* #endregion open and close sidebar buttons */

.guest-btn {
  font-size: 0.8rem;
  margin-top: 20px;
}
.guest-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}



/*#region select countdown sidebar*/
#countdown-list {
  width: 100%;
}

.card {
  height: 130px;
  width: 90%;
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.3);
}

.card.countdown {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  background-color: var(--dark-desaturated-blue);
}
.card.countdown:hover {
  cursor: pointer;
  background-color: var(--light-desaturated-blue);
}

.card.countdown .info h3 {
  color: var(--grayish-blue);
}

.name {
  align-self: center;
  width: 200%;
  font-size: 1.4rem;
  font-weight: bold;
  grid-row: 0 / span 2;
}
.date {
  align-self: center;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
.time {
  align-self: center;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.add-new {
  background-color: rgb(38, 29, 45);
  border: 3px solid var(--grayish-blue);
  color: var(--soft-red);
  text-align: center;
  line-height: calc(130px - 20px);
}

.add-new h2 {
  font-weight: bold;
}

.add-new:hover {
  background-color: var(--light-desaturated-blue);
}
/*#region select countdown sidebar*/
