* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.App {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgb(29, 23, 29);
  background-image: url("./images/bg-stars.svg");
  color: var(--white-text);
}


main {
  width: 100vw;
  height: 100vh;
  transition: 0.8s;
  overflow-x: hidden;
}

main.open {
  width: 65vw;
}



input {
  background-color: var(--dark-desaturated-blue);
  color: var(--white-text);
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  width: 300px;
  padding: 10px 25px;
}

label {
  color: var(--soft-red);
  letter-spacing: 0.3rem;
}