* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.App {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgb(29, 23, 29);
  background-image: url("./images/bg-stars.svg");
  color: var(--white-text);
  letter-spacing: 0.1rem;
}


main {
  width: 100vw;
  height: 100vh;
  transition: 0.8s;
  overflow-x: hidden;
}

main.open {
  width: 65vw;
}


/*#region input bars, labels and buttons*/
.input-label-pair {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}

input {
  background-color: var(--dark-desaturated-blue);
  color: var(--white-text);
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  width: 300px;
  padding: 10px 18px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

label {
  color: var(--soft-red);
  letter-spacing: 0.4rem;
  font-size: 0.7rem;
  font-weight: bold;
  margin-left: 18px;
  margin-bottom: 2px;
}

button {
  border: none;
  background-color: transparent;
  width: 200px;
  height: 50px;
  border-radius: 8px;
  color: var(--white-text);
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.4rem;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
  margin: 15px;
}

button:hover {
  cursor: pointer;
}

button.primary {
  background-color: var(--soft-red);
}

button.secondary {
  border: solid 3px var(--soft-red);
  color: var(--soft-red);
}

/*#endregion input bars and labels*/
