main {
  width: 100vw;
  height: 100vh;
  transition: 0.8s;
  overflow-x: hidden;
}

main.open {
  width: 65vw;
}

main .content {
  height: 100vh;
}

main h2 {
  text-align: center;
  font-size: 2rem;
}

/*#region Landing Page*/



/*#endregion Landing Page*/