#overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(47, 36, 57, 0.75);
  z-index: 10;
}

#overlay.hidden {
  display: none;
}


/*#region edit countdown overlay*/
#edit-countdown-overlay {
  position: relative;
  height: fit-content;
  padding: 60px 40px;
  background-color: rgb(47, 36, 57);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#edit-countdown-overlay h2 {
  letter-spacing: 0.4rem;
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.closeIcon {
  position: absolute;
  height: 30px;
  top: 20px;
  right: 20px;
}

.closeIcon:hover {
  cursor: pointer;
  height: 34px;
  top: 18px;
  right: 18px;
}


.deleteIcon {
  display: flex;
  width: 85px;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.deleteIcon:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*#endregion edit countdown overlay*/


/*#region account created successfully overlay*/
#account-created-overlay {
  width: 350px;
  height: 150px;
  border-radius: 8px;
  background-color: var(--light-desaturated-blue);
  text-align: center;
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#account-created-overlay h3 {
  font-size: 0.9rem;
  margin-top: 20px;
}

#account-created-overlay p {
  font-size: 0.7rem;
  margin-top: 10px;
}

#account-created-overlay p:hover {
  text-decoration: underline;
  cursor: pointer;
}

#account-created-overlay .closeIcon {
  top: 5px;
  right: 5px;
}

#account-created-overlay .closeIcon:hover {
  top: 3px;
  right: 3px;
}
/*#endregion account created successfully overlay*/
